<div *ngIf="!authService.loggedIn()">
  <h1>Login</h1>
  <p>Noch nicht registriert? <a routerLink="/register" routerLinkActive="active">Hier registrieren!</a></p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

    <!-- e-mail -->
    <div class="form-group">
      <label class="center-block">Benutzername:
        <input class="form-control" formControlName="userName" type="text">
      </label>
    </div>

    <!-- password -->
    <div class="form-group">
      <label class="center-block">Passwort:
        <input class="form-control" formControlName="password" type="password">
      </label>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Submit</button>

  </form>

</div>

<div class="container" *ngIf="authService.loggedIn()">
  <p>Hurray! Du bist eingeloggt!</p>
  <button type="button" class="btn btn-default btn" (click)="logout()">Ausloggen</button>
</div>
