<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/tasks" routerLinkActive="active">Aufgaben</a>
  <a routerLink="/login" routerLinkActive="active">Einloggen</a>
  <a routerLink="/register" routerLinkActive="active" *ngIf="!authService.loggedIn()">Registrieren</a>
</nav>
<router-outlet></router-outlet>



