<div *ngIf="authService.loggedIn()">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" novalidate>
    <!-- task -->
    <div class="form-group">
      <label class="center-block">Titel:
        <input class="form-control" formControlName="taskTitle" type="text">
      </label>
      <label class="center-block">Text:
        <input class="form-control" formControlName="taskBody" type="text">
      </label>
    </div>

    <button class="btn btn-success" type="submit">+ Hinzufügen</button>
  </form>

  <ul class="">
    <li *ngFor="let task of tasks" class="">
      <div class="checkbox">
        <input type="checkbox" id="{{task.id}}" [checked]="task.done" (change)="toggleState(task)">
        <label for="{{task.id}}"><span [class.task-done]="task.done">title: {{task.title}}</span></label>
      </div>
      <div class="">
        {{task.text}}
      </div>
      <button class="btn btn-danger btn-sm" (click)="removeTask(task.id)">löschen</button>
    </li>
  </ul>
</div>
<div *ngIf="!authService.loggedIn()">
  <p>Du bist nicht eingeloggt</p>
  <a routerLink="/login" routerLinkActive="active" class="btn btn-default">Gelange zum Login</a>
</div>
