<div>
  <h1>Registrieren</h1>
  <p>Bereits registriert? <a routerLink="/login" routerLinkActive="active">Hier einloggen!</a></p>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

    <!-- user name -->
    <div class="form-group">
      <label class="center-block">Benutzername:
        <input class="form-control" formControlName="userName" type="text">
      </label>
    </div>

    <!-- e-mail -->
    <div class="form-group">
      <label class="center-block">E-Mail:
        <input class="form-control" formControlName="email" type="email">
      </label>
    </div>

    <!-- password -->
    <div class="form-group">
      <label class="center-block">Passwort:
        <input class="form-control" formControlName="password" type="password">
      </label>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Submit</button>

  </form>

</div>
